@page "/"
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Compus</h2>
            <p class="lead">
                Compus is a completely open source tool for accessing remote servers via ssh.
            </p>
            <p>
                <details>
                    <summary class="lead">How to use it?</summary>
                    <p class="lead">After authentication, you will have access to the connection and session management menu.</p>
                </details>
            </p>
            <p>
                <details>
                    <summary class="lead">How to Sign In?</summary>
                    <p class="lead">To Sign In, enter the username and password specified in the configuration.</p>
                </details>
            </p>
            <p>
                <details>
                    <summary class="lead">How to connect to the host?</summary>
                    <p class="lead">To Sign In, enter the username and password specified in the configuration.</p>
                </details>
            </p>
            <p>
                <details>
                    <summary class="lead">What about sessions?</summary>
                    <p class="lead">To Sign In, enter the username and password specified in the configuration.</p>
                </details>
            </p>
        </div>
    </div>
</div>